{% extends "generics/course_generic.html" %}

{% block left %}
      {% include "includes/header_secondary.html" with section='program_description'  bullet_point='program_description_1' %}
{% endblock %}

{% block right %}
	<div class="col span-9-of-12">
	<!--    MAIN CONTENTS OF WEBSITE-->
	<h4 style="text-align: center;">Please browse through learning materials below and then proceed to Quiz section!</h4>
	{{course.program.description}}
	<div>
		<img src="/{{course.program.cover}}">
	</div>
	<div>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>
	<!--    END OF MAIN CONTENTS OF WEBSITE-->
	</div> <!--    span 7 of 8 column end    -->
{% endblock %}


{% block scrum_master %}
	{% if user.role == 2 %}
		<div class="col span-1-of-12">
		IA A SCRUM MASTER!!!!
		</div>
	{% endif %}
{% endblock %}
