{% extends "generics/course_generic.html" %}

{% block left %}
      {% include "includes/header_secondary.html" with section='program_description'  bullet_point='program_description_1' %}
{% endblock %}

{% block right %}
	<div class="col span-9-of-12">
	<!--    MAIN CONTENTS OF WEBSITE-->
	<div class="program-title">Welcome to the {{course.program.name}} course!</div>
	
	<div>
		<img src="/{{course.program.cover}}">
	</div>
	<div class="program-description">
		{{course.program.description}}
	</div>
	<!--    END OF MAIN CONTENTS OF WEBSITE-->
	</div> <!--    span 7 of 8 column end    -->
{% endblock %}


{% block scrum_master %}
	{% if user.role == 2 %}
		<div class="col span-1-of-12">
		IA A SCRUM MASTER!!!!
		</div>
	{% endif %}
{% endblock %}
