{% extends "generics/course_generic.html" %}
{% load static %}
{% block left %}
      {% if progress_estimated == '7' %}
        {% include "includes/header_secondary.html" with section='project_details'  bullet_point='project_details_4' %}
      {% elif progress_estimated == '10' %}
        {% include "includes/header_secondary.html" with section='sprint'  bullet_point='sprint_4' %}   
      {% elif progress_estimated == '15' %}
        {% include "includes/header_secondary.html" with section='sprint2'  bullet_point='sprint_4' %}
      {% endif %}
{% endblock %}

{% block right %}
<div id="shoutbox">
      {% now "Y-m-d" as todays_date %}
        <h1>Shoutbox</h1>
          <ul
>            <div id="shouts">
            {% for shout in shouts %}
              <li>
                <!-- Create a now variable -->
                <!-- If message was posted today: -->
                {% if todays_date <= shout.date_created|date:"Y-m-d" %}
                  {{ shout.date_created|date:'H:i' }}
                <!-- <span style="color:blue;font-weight:bold;font-size:1.2em;"> {{ shout.author }} </span> -->
                <!-- Message was posted in previous days: -->
                {% else %}
                  {{ shout.date_created|date:'Y-m-d H:i' }}
                {% endif %}
                <a href="{% url 'Profile:main' %}"> <img  src="/{{ shout.author.avatar_url }}" class="avatar-medium-circle" title="{{shout.author.username}}" /></a>
                {{ shout.text }}
                </br>
              </li>
            {% empty %}
              <li>No shouts added yet.</li>
            {% endfor %}
            </div>
          </ul>
            <!-- Div holding fields that will be used in process of creating a new Shout object. Please note that some information is processed by
            JavaScript and then the final post query is sent to the server. -->
            <div id="new-shout-form" id="#myform" >{% csrf_token %}
                <label>Add new message below: </label>
                <input type="text" id="input_shout"/>
                <input type="submit" id="submit_shout" value="SHOUT!"/>
            </div>

      </div>  <!-- End of shoutbox-->


{% endblock %}
{% block additional_scripts %}
<script src="{% static 'js/general_discussion.js' %}"></script>
{% endblock %}
