<div id="modal-helper" class="modal-helper">
  <!-- Modal content -->
  <div class="modal-helper-content">
	  <div id="modal-helper-close" onclick="helper()"><i class="ion-close-circled"></i></div>
	  <div id="helper-title">
	  	<p>
	  		<i class="ion-social-twitter"></i>
	  		Tip for this stage:
	  	</p>
	  </div>
	  <div id="helper-message">
	  	Here should be an information from the server. If you see this, please contact a system administrator.
	  </div>

	  <div id="helper-footer">
	  	This is a helper message. If you want to proceed with the course please click X button or outside this modal form.
	  </div>
  </div>
</div>