.sticker{
    min-height: 100px;
    min-width: 100px;
    max-width:  300px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background: #ede98b;
    z-index: 1;
}

.sticker-header-blue,
.sticker-header-red,
.sticker-header-green,
.sticker-header-orange,
.sticker-locked{
    min-height: 25px;
    width: 100%;
    text-align: center;
    /*  Stop users from selecting text inside div*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.sticker-header-blue{
    background: #188ac6;
}
.sticker-header-green{
    background: #18c65b;
}
.sticker-header-red{
    background: #c61818;
}
.sticker-header-orange{
    background: #c69718;
}
.sticker-header-purple{
    background: #d417b7;
}
.sticker-header-yellow{
    background: #f0d714;
}
.sticker-header-cyan{
    background: #17c5d4;
}
.sticker-locked{
    /*Class for Story that has not been process of Scrum Poker yet.*/
    background: #999;
}
.sticker textarea{
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;    
}
.sticker:hover{
    z-index: 5;
}
.sticker-header-blue:hover,
.sticker-header-red:hover,
.sticker-header-green:hover,
.sticker-header-orange:hover,
.sticker-header-cyan,
.sticker-header-yellow,
.sticker-header-purple{
    cursor: move;
}
/**********************************/
/*      STICKER CONTAINERS        */
/**********************************/
.backlog-title{
    font-size: 2.5em;
    font-weight: bold;
    min-height: 150px;
    padding: 3% 1%;
    border-top: 2px solid #ccc;
    background-color: #ddd;
    text-align: center;
    /*Rounding corners*/
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /*Making text in container be aligned vertically. Using Flexbox*/
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.backlog-title:hover{
    background-color: #bababa;
    cursor: help;
}
.backlog-container{
    box-sizing: border-box;
    min-width: 280px;
    min-height: 800px;
    padding: 5%;
    border: 3px solid #ccc;
    border-radius: 4%;
    font-size: 3em;
    /*  Stop users from selecting text inside div*/
    -webkit-user-select: none; /* Chrome/Safari */      
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    /*background: rgba(222, 222, 222, 0.24);*/
}
/*Unused code*/
/*#sprint_commited_stories{
    background: url(/static/img/sprint_commited_stories.png); background-repeat: repeat-xy; opacity: 0.6;
    background-color: #c0b6ce;
    background-blend-mode: multiply;
}
*/
