        {% load static %}

        <!-- Section with list of options-->
             <div class="menu-item alpha {% if section == 'program_description' %} active {% endif %}">
              <h4><a href="#">Project Name</a></h4>
              <h3 class="{% if bullet_point == 'program_description_1' %} active {% endif %}"><a href="{% url 'Course:program_description' course.pk %}">{{course.program.name}}</a></h3>
            </div>
      
            <div class="{% if section == 'learning_materials' %} active {% endif %} menu-item">
              <h4><a href="#">Learning materials</a></h4>
              <ul>
                <li class="{% if bullet_point == 'learning_materials_1' %} active {% endif %}">
                  <a href="{% url 'Course:course_detail' course.pk %}">Scrum E-Learning overview </a>
                </li>
                <li class="{% if bullet_point == 'learning_materials_2' %} active {% endif %}"><a href="{% url 'Course:learning_materials' course.pk %}">Learning Materials</a></li>
                <li class="{% if bullet_point == 'learning_materials_3' %} active {% endif %}"><a href="{% url 'Course:quiz' course.pk %}">Solve Quiz</a></li>
              </ul>
            </div>
            
            <div class="{% if section == 'project_details' %} active {% endif %} menu-item">
              <h4><a href="#">Project Details</a></h4>
              <ul>
                <li class="{% if bullet_point == 'project_details_1' %} active {% endif %}"><a href="{% url 'Course:roles_in_project' course.pk %}">Roles in a project</a></li>
                <li class="{% if bullet_point == 'project_details_2' %} active {% endif %}"><a href="{% url 'Course:current_progress' course.pk %}">Current progress</a></li>
                <li class="{% if bullet_point == 'project_details_3' %} active {% endif %}"><a href="{% url 'Course:product_backlog' course.pk %}">Product Backlog</a></li>
                <li class="{% if bullet_point == 'project_details_4' %} active {% endif %}"><a href="{% url 'Course:discussion' course.pk 7 %}">General Discussion</a></li>
                <li class="{% if bullet_point == 'project_details_5' %} active {% endif %}"><a href="{% url 'Course:scrum_poker' course.pk %}">Scrum Poker</a></li>
              </ul>
            </div>
      
            <div class="{% if section == 'sprint' %} active {% endif %} menu-item">
              <h4><a href="#">Sprint #1</a></h4>
              <ul>
                <li class="{% if section == 'sprint' and bullet_point == 'sprint_1' %} active {% endif %}"><a href="{% url 'Course:sprint_backlog' course.pk 1 %}">Sprint backlog</a></li>
                <li class="{% if section == 'sprint' and bullet_point == 'sprint_2' %} active {% endif %}"><a href="{% url 'Course:sprint_board' course.pk 1 %}">Sprint board</a></li>
                <li class="{% if section == 'sprint' and bullet_point == 'sprint_3' %} active {% endif %}"><a href="{% url 'Course:task_dashboard' course.pk 1%}">Task dashboard</a></li>
                <li class="{% if section == 'sprint' and bullet_point == 'sprint_4' %} active {% endif %}"><a href="{% url 'Course:discussion' course.pk 10 %}">Sprint discussion</a></li>
                <li class="{% if bullet_point == 'sprint_5' %} active {% endif %}"><a href="#">Retrospection</a></li>
              </ul>
            </div>



            <div class="{% if section == 'sprint2' %} active {% endif %} menu-item">
              <h4><a href="#">Sprint #2</a></h4>
              <ul>
                <li class="{% if section == 'sprint2' and  bullet_point == 'sprint_1' %} active {% endif %}"><a href="{% url 'Course:sprint_backlog' course.pk 2 %}">Sprint backlog</a></li>
                <li class="{% if section == 'sprint2' and bullet_point == 'sprint_2' %} active {% endif %}"><a href="{% url 'Course:sprint_board' course.pk 2 %}">Sprint board</a></li>
                <li class="{% if section == 'sprint2' and bullet_point == 'sprint_3' %} active {% endif %}"><a href="{% url 'Course:task_dashboard' course.pk 2 %}">Task dashboard</a></li>
                <li class="{% if section == 'sprint2' and bullet_point == 'sprint_4' %} active {% endif %}"><a href="{% url 'Course:discussion' course.pk 15 %}">Sprint discussion</a></li>
                <li class="{% if section == 'sprint2' and bullet_point == 'sprint_5' %} active {% endif %}"><a href="#">Retrospection</a></li>
              </ul>
            </div>




      
            <div class="{% if section == 'project_summary' %} active {% endif %} menu-item">
              <h4><a href="#">Project Summary</a></h4>
              <ul>
               <li class="{% if bullet_point == 'project_summary_1' %} active {% endif %}">Final results</a></li>
               <li class="{% if bullet_point == 'project_summary_2' %} active {% endif %}"><a href="#">Review from teacher</a></li>
               <li class="{% if bullet_point == 'project_summary_3' %} active {% endif %}"><a href="#">Student opinions</a></li>
              </ul>
            </div>
    <!--      End of Section with list of options       -->
